.bouton-adm {
    border: 0;
    font-size: 1rem;
    font-family: 'Lato' sans-serif;
    font-weight: bolder;
    background-color: #aabbce;
    line-height: 6.5;
    border-radius: 10px;
}

.conteneur-bouton {
    margin: 0;
}

