.darkmode-toggle {
    z-index: 100;
}

.fixed-element {
    background-color: #fff;
    color: #000;
}

.darkmode--activated .fixed-element {
    background-color: #333;
    color: #fff;
}

.darkmode--activated header {
    background-color: #9999!important;
}

.darkmode--activated .card-front p {
    color: white !important;
}

.darkmode--activated .darkmode-toggle::before {
    content: '🌗' !important;
}

.darkmode-toggle::before {
    content: '🌓';
}

.darkmode--activated .forget-password a {
    color: #fff;
}

.darkmode--activated .transition {
    color: white !important;
}