.main-part {
    flex-direction: column;
}

.left-part, .right-part {
    width: 100%;
}

.image {
    width: 100%;
    margin-right: 0;
    max-width: 640px;
}

.info-parc {
    width: 100%;
}

.img-desc {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-toggle {
    transform: translateX(425%);
}

.parc-title {
    text-align: center;
}

.parcours-left {
    text-align: center;
    border-right: 7px #238AB6 solid;
    padding-right: 0.5em;
}

.title-h2 {
    text-align: center;
}

.parcours-title {
    text-align: center;
    padding-bottom: 20px;
}

.sommaire-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin: 0;
    position: fixed;
    bottom: 0; 
    font-family: 'Lato', sans-serif;
    background-color: white;
    border-top: 2px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 2, 0, 0.2);
    transform: scale(1);
    display: flex;
    justify-content: center;
  }

.copyright{
    padding-bottom: 0px;
    margin: 0;
    position: fixed;
    bottom: 2px;
    left: 0px;
    font-size: 15px;
}

.box-parcours {
    justify-content: center;
    text-align: center;
}

.mid-content {
    width: 100%;
    flex-direction: column;
}
.choice-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: min-content;
}

.box-parcours {
    width: 100%;
}

.rectangle-02 {
    width: 152px;
}

.search-input-container {
    position: relative;
    width: 30em;
    height: 5em;
}

.search-toggle {
    position: absolute;
    top: 38%;
    transform: translateX(600%);
    cursor: pointer;
    font-size: 20px;
    color: #888;
    padding: 0;
}

.search-toggle.hidden {
    color: #ccc;
}

#toggleSearch {
    width: 20px;
    height: auto;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
    border: 2px solid #111;
    font-size: 16px;
}

input[type="search"]:focus {
    border: 2px solid #2EBEDD;
    outline: none;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input-container{
    width: 30%;
}