.card {
  width: 650px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  border: 1px  rgb(0, 0, 0,0.5) thin;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
  box-shadow: 4px 3px 2px grey;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: space-between;
}

#img-logo {
  width: auto;
  height: 20vh;
  margin-right: 5em;
}

.card-front {
  display: flex;
  align-items: center;

  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.flexible {
  display: flex;
  flex-direction: column;
}

.text-gauche, .text-gras {
  font-size: 20px;
}

.text-gras {
  font-weight: bold;
  color: black;
  margin-bottom: 2px;
  margin-top: 2px;
}

.text-gauche {
  margin-left: 10px;
  color: black;
  margin-bottom: 2px;
  margin-top: 2px;
}

.row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.main-base {
  height: 60%;
}

input[type="password"] {
  cursor: not-allowed;
}

.show-password-btn {
  background-color: #1BBCD2;
  color:white;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  width:5vw;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  
}

#passwordInput {
  width: 80px;
  margin-left: 10px;
  margin-right: 20px;
}

.app-name{
  text-decoration: none;
}