main{
    height: 74.2vh;
}

.background{
    position: relative;
    z-index: 2;
    background-color: #d9d9d9;
    height: 100%;
}

.form-label-admin-comm{
    margin-left: 7rem;
}

.titre-avis{
    font-size: 1.3rem;
    font-family: 'Lato' sans-serif;
    font-weight: bolder;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 4rem;
}

.nom-note{
    display: flex;
}

p.pasavis {
	text-align: center;
	color: darkred;
	font-size: 32px;
	font-weight: bold;
}

/* note et avis des différents utilisateur */
.rating {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.3rem;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: #666;
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  .rating label.yellow-star svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: #ffc73a;
    stroke: #ffc73a;
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  textarea{
    margin-left: 5rem;
  }