{% extends "base_home.html" %}
{% block styles %}
    {{ super() }}
    {% endblock %}
{% block content %}
    <div id="menu">
        <p><a href="{{ url_for('mes_parcours_en_cours') }}" class="mes_parcours">Parcours suivis</a></p>
        <p><a href="{{ url_for('mon_profil') }}" class="page-profil">Mon profil</a></p>
        <p class="deco"><a href="{{ url_for('portails') }}">Se déconnecter</a></p>
    </div>
    <div class="animation">
        <h2 class = "slogan">Commencez votre parcours avec Wade</h2>
    </div>
    {% block main_content %}
    {% endblock %}
{% endblock %}
