<!DOCTYPE html>
<html lang="fr">
  <!doctype html>
  <html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Wade - Inscription</title>
    <link rel="stylesheet" href="../static/inscription.css">
    <link rel="stylesheet" href="../static/darkmode.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <footer class="fixed-element">
      <div class="image-container">
        <img id="animation-button1" class = "img2" src="../static/images/logo.png" alt="Image à animer">
      </div>
      <p class="copyright">Wade Copyright © 2023</p>
    </footer>
    <script src="../static/script/apparition_logo.js"></script>
    <script src="../static/script/redirection-animation.js"></script>
    <script src="../static/script/toggle_password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
      <script>
        function addDarkmodeWidget() {
          new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
      </script>
  </body>
</html>
