<!DOCTYPE html>
<html lang="fr">
  <!doctype html>
  <html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Wade - Inscription</title>
    <link rel="stylesheet" href="../static/inscription.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="image-container">
        <img id="animation-button1" class = "img2" src="../static/images/logo.png" alt="Image à animer">
      </div>
      <p class="copyright">Wade Copyright © 2023</p>
    </footer>
    <script src="../static/script/apparition_logo.js"></script>
    <script src="../static/script/script.js"></script>
    <script src="../static/script/toggle_password.js"></script>
  </body>
</html>
