{% extends "base_slogan_admin.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}
    <div class="background">
        <div class="titre-creer">
            <h3>Créer un parcours:</h3>
        </div>
        <section class="conteneur-champs-formulaires">
            <form role="form" method="POST" class="form-champ">
                <div class="trois-champs">
                    <div class="form-label-admin">
                        <label for="name" class="label">Nom du parcours:</label>
                        <input type="text" name="nom_parcours" maxlength="20" size="40" id="nom_parcours" required/>
                    </div>
                    <div class="form-label-admin-desc">
                        <label for="description" class="label">Description du parcours:</label>
                        <textarea name="textarea" rows="7" cols="50" maxlength="200">Vous pouvez écrire ici.</textarea>
                    </div>
                    <div>
                        <label for="etapes" class="label">Choisir les étapes:</label>
                        <select name="pets" id="pet-select">
                        <option>Choisir</option>
                        {% for etape in liste %}
                            <option value="{{etape.get_nom_etape()}}">{{etape.get_nom_etape()}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="etapes">

                </div>
                <div class="conteneur-img-parcours">

                </div>
            </form>
        </section>
    </div>
{% endblock %}
