{% extends "base_home.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="main-base-forget-password">
    <div class="box-form-forget-password">
        <form class="otp-Form" action="{{ url_for('changePassword') }}" method="POST">

            <p class="otpSubheading">Modifiez votre mot de passe</p>
            <div class="inputContainer">
                <input type="password" name="change" id="password" placeholder="Password" class="input" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,}$" title="Le mot de passe doit comporter au moins 8 caractères, y compris au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial." />
            </div>
                <button class="verifyButton" type="submit">Changer le mot de passe</button>
        </form>
    </div>
</div>
{% endblock %}