{% extends "base_home.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="main-base-forget-password">
    <div class="box-form-forget-password">
        <form class="otp-Form" action="{{ url_for('auth') }}">

            <p class="otpSubheading">Modifiez votre mot de passe</p>
            <div class="inputContainer">
                <input required="required" name='verify' maxlength="4" type="text" class="otp-input" id="otp-input1">
            </div>
                <button class="verifyButton" type="submit">Verify</button>
        </form>
    </div>
</div>
{% endblock %}