{% extends "base_home.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="main-base-forget-password">
    <div class="box-form-forget-password">
        <div class="form-container fixed-element">
            <div class="logo-container">
            Mot de passe oublié
            </div>

            <form class="form" method="post" action="{{ url_for('forget_password') }}">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" pattern=".+@.+\..+" required="true" title="monmail@exemple.com" placeholder="Entrer votre mail">
                </div>

                <button class="form-submit-btn" type="submit">Envoyer mail</button>
            </form>

            <p class="signup-link">
            Pas de compte ?
            <a href="{{url_for('inscription')}}" class="signup-link link"> Inscrivez-vous maintenant</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
