{% extends "base_slogan_admin.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}
<div class="all">
<div id="div-centre">
    <h1 class="title-tab">Parcours</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="cle">ID Parcours</th>
                <th class="cle">Nom Parcours</th>
                <th class="cle">Supprimer</th>
                <th class="cle">Editer</th>
                <th class="cle">Avis</th>
            </tr>
        </thead>
        <tbody>
            {% for parc in liste_parc %}
                <tr>
                    <td class="valeurs">{{ parc.get_id_parc() }}</td>
                    <td class="valeurs">{{ parc.get_nom_parc() }}</td>
                    <td class="valeurs">
                        <form id="supprimer" method="POST" action="{{url_for('suppression_parcours', id_parc=parc.get_id_parc())}}" onsubmit="return confirmDelete('{{ parc.get_nom_parc() }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="noselect buttonbyme removebutton">
                                <span class="text">Delete</span>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                    </svg>
                                </span>
                            </button>
                        </form>
                    </td>
                    <td class="valeurs" id="edit">
                        <a href="{{ url_for('parcours_admin',nb=parc.get_id_parc()) }}" class="edit-button editbutton">
                            <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                            </svg>
                        </a>
                    </td>
                    <td class="valeurs">
                        <form action="">
                            <div class="buttonAVIS">
                                <div class="box">A</div>
                                <div class="box">V</div>
                                <div class="box">I</div>
                                <div class="box">S</div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="div-centre">
    <h1 class="title-tab">Étapes</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="cle">ID étape</th>
                <th class="cle">Nom étape</th>
                <th class="cle">Supprimer</th>
                <th class="cle">Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for etp in liste_etape %}
                <tr>
                    <td class="valeurs">{{ etp.get_id_etape() }}</td>
                    <td class="valeurs">{{ etp.get_nom_etape() }}</td>
                    <td class="valeurs">
                        <form id="supprimer" method="POST" action="{{url_for('suppression_etape', id_etp=etp.get_id_etape())}}" onsubmit="return confirmDeleteEtp('{{ etp.get_nom_etape() }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="noselect buttonbyme removebutton">
                                <span class="text">Delete</span>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                    </svg>
                                </span>
                            </button>
                        </form>
                    </td>
                    <td class="valeurs" id="edit">
                        <a href="#" class="edit-button editbutton">
                            <svg class="edit-svgIcon" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<script>
    function confirmDelete(nom_parc) {
        var confirmation = confirm("Êtes vous sûr de vouloir supprimer le parcours : '" + nom_parc + "'?");
        return confirmation;
    }
    function confirmDeleteEtp(nom_etp) {
        var confirmation = confirm("Êtes vous sûr de vouloir supprimer cette étape : '" + nom_etp + "'? Elle peut être contenue dans d'autres parcours. Confirmer quand même ?");
        return confirmation;
    }
</script>

{% endblock %}
