{% extends "base_slogan_admin.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}

<div id="div-centre">
    
    <table class="table">
        <thead>
            <tr>
                <th class="cle">Pseudo</th>
                <th class="cle">Mail</th>
                <th class="cle">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for part in liste_part %}
                <tr>
                    <td class="valeurs">{{ part.get_pseudo() }}</td>
                    <td class="valeurs">{{ part.get_email() }}</td>
                    <td class="valeurs">
                        <form id="supprimer" method="POST" action="{{url_for('suppression_participant', pseudo=part.get_pseudo())}}" onsubmit="return confirmDelete('{{ part.get_pseudo() }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="noselect">
                                <span class="text">Delete</span>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                    </svg>
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(pseudo) {
        var confirmation = confirm("Etes vous sur de vouloir supprimer l utilisateur : '" + pseudo + "'?");
        return confirmation;
    }
</script>

{% endblock %}
