{% extends "base_slogan_admin.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}

<div id="div-centre">
    
    <table class="table">
        <thead>
            <tr>
                <th class="cle">ID Parcours</th>
                <th class="cle">Nom Parcours</th>
                <th class="cle">Supprimer/Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for parc in liste_parc %}
                <tr>
                    <td class="valeurs">{{ parc.get_id_parc() }}</td>
                    <td class="valeurs">{{ parc.get_nom_parc() }}</td>
                    <td class="valeurs editorremove">
                        <form id="supprimer" method="POST" action="{{url_for('suppression_parcours', id_parc=parc.get_id_parc)}}" onsubmit="return confirmDelete('{{ parc.get_nom_parc() }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="noselect">
                                <span class="text">Delete</span>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                    </svg>
                                </span>
                            </button>
                        </form>
                        <form id="supprimer" method="POST" action="{{url_for('suppression_parcours', id_parc=parc.get_id_parc)}}" onsubmit="return confirmDelete('{{ parc.get_nom_parc() }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="noselect">
                                <span class="text">Delete</span>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                    </svg>
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(nom_parc) {
        var confirmation = confirm("Êtes vous sûr de vouloir supprimer le parcours : '" + nom_parc + "'?");
        return confirmation;
    }
</script>

{% endblock %}
