{% extends "base_log_ins_mobile.html" %}
{% block content %}
<main class="main-base">
    <div class="animated-image-position">
        <div class="image-container">
          <img id="animation-button" class = "img1" src="../static/images/logo.png" alt="Image à animer">
        </div>
    </div>
    <div class="center-part">
        <section class="information">
            <h1 class="app-name">WADE</h1>
            <form action="" method="get" class="form-inscription">
                <div class="form-label">
                  <label for="name" class="label">pseudo</label>
                  <input type="text" name="name" id="name" required/>
                </div>
            </form>
            <form action="" method="get" class="form-inscription">
                <div class="form-label">
                  <label for="name" class="label">email</label>
                  <input type="email" name="name" id="name" required/>
                </div>
            </form>
            <form action="" method="get" class="form-inscription">
                <div class="form-label">
                  <label for="password" class="label">Mot de passe</label>
                  <input type="password" name="email" id="email" required/>
                </div>
            </form>
            <form action="" method="get" class="form-inscription">
                <div class="form-label">
                  <input type="submit" value="S'inscrire" />
                </div>
                <div class = "back-login">
                  <a href="{{url_for('login')}}">connexion</a>
                </div>
            </form>
            
          </section>
    </div>
</main>
{% endblock %}
