{% extends "base_slogan.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}
<div class = "main-part">
    <section class="left-part">
        <form action="" onsubmit="search(); return false;">
            <div class="search-input-container">
                <input class="form-control me-2" type="search" name="query" placeholder="Rechercher un parcours" aria-label="Search">
                <img id="toggleSearch" class="search-toggle" src="../static/images/chercher.png" alt="Rechercher" onclick="search()"/>
            </div>
        </form>
        <div class="sommaire-content">
            <h2 class="parcours-left">Les parcours</h2> 
            <div class = "liste-parcours">
                {% for parc in liste_parc %}
                    <a href="#parcours-{{ parc[0].get_nom_parc() }}" class="darkmode-ignore">{{ parc[0].get_nom_parc() }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="right-part">
        <h2 class="title-h2">Parcours Disponible</h2>
        {% for parc in liste_parc %}
            <div class="box-parcours">
                <div class="info-parc">
                    <h3 id="parcours-{{ parc[0].get_nom_parc() }}" class="parc-title darkmode-ignore">{{ parc[0].get_nom_parc() }}</h3>
                    <div class="img-desc">
                        {% if parc[1] %}
                            <a href="{{ url_for('debut',num = parc[0].get_id_parc()) }}">
                                <img src="{{ url_for('static', filename='images/' + parc[1]) }}" alt="image de l'element static" class="image">
                            </a>    
                        {% else %}
                            <img src="{{parc[1]}}" alt="image internet ne marche pas" class="image">
                        {% endif %}
                        <div>
                        <p class="para">{{ parc[0].get_description() }}</p>
                        <!-- le bouton permettant d'acceder au commentaire et note  -->
                            <form action="{{ url_for('note_comm_parcours',id_parc = parc[0].get_id_parc()) }}">
                                <button class="button">
                                    <svg class="svgIcon" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"></path></svg>
                                   AVIS
                                 </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>   
<script src="../static/script/search.js"></script>

{% endblock %}

