{% extends "base_slogan.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}
<div class = "main-part">
    <section class="left-part">
        <form action="" onsubmit="search(); return false;">
            <div class="search-input-container">
                <input class="form-control me-2" type="search" name="query" placeholder="Rechercher un parcours" aria-label="Search">
                <img id="toggleSearch" class="search-toggle" src="../static/images/chercher.png" alt="Rechercher" onclick="search()" class="image"/>
            </div>
        </form>
        <div>
            <h2 class="parcours-left">Les parcours</h2> 
            <div class = "liste-parcours">
                {% for parc in liste_parc %}
                    <a href="#parcours-{{ parc[0].get_nom_parc() }}">{{ parc[0].get_nom_parc() }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="right-part">
        <h2>Parcours Disponible</h2>
        {% for parc in liste_parc %}
            <div class="box-parcours">
                <div class="info-parc">
                    <h3 id="parcours-{{ parc[0].get_nom_parc() }}" class="parc-title">{{ parc[0].get_nom_parc() }}</h3>
                    <div class="img-desc">
                        {% if parc[1] %}
                            <img src="{{ url_for('static', filename='images/' + parc[1]) }}" alt="image de l'element static" class="image">
                        {% else %}
                            <img src="{{parc[1]}}" alt="image internet ne marche pas" class="image">
                        {% endif %}
                        <p class="para">{{ parc[0].get_description() }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</div>   
<script src="../static/script/search.js"></script>

{% endblock %}

