{% block content %}
<div>
    <h1>Commencez votre parcours avec Wade</h1>
</div>
<div>
    <h2>Parcours Disponible</h2>
    <div >
        <form class="d-flex " action="{{ url_for('search') }}" method="GET">
            <input class="form-control me-2" type="search" name="query" placeholder="Name" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div>
        <p><b>Les parcours</b></p>
        {% for parc in liste_parc %}
            <p>{{ parc[0].get_nom_parc() }}</p>
        {% endfor %}
    </div>
</div>
<div>
    <p><b>Les parcours</b></p>
    {% for parc in liste_parc %}
        <p>{{ parc[0].get_nom_parc() }}</p>
        <p>{{ parc[0].get_description() }}</p>
        <p>{{ parc[1] }}</p>
    {% endfor %}
</div>
{% endblock %}