{% extends "base_log_ins_mobile.html" %}
{% block content %}
<main class="main-base">
    <div class="animated-image-position">
        <div class="image-container">
            <img id="animation-button" class="img1" src="../static/images/logo.png" alt="Image à animer">
        </div>
    </div>
    <div class="center-part">
        <section class="information">
            <h1 class="app-name">WADE</h1>
            <form action="" method="get" class="form-login">
                <div class="form-label">
                    <label for="name" class="label">Email ou pseudo</label>
                    <input type="text" name="name" id="name" required/>
                </div>
                <div class="form-label">
                    <label for="password" class="label">Mot de passe</label>
                    <div class="password-input-container">
                        <input type="password" name="password" id="password" required/>
                        <img id="togglePassword" class="password-toggle" src="../static/images/oeilFerme.png" alt="Afficher le mot de passe" onclick="togglePasswordVisibility()"/>
                    </div>
                </div>
                <div class="form-password-forget">
                    <div class="forget-password">
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                </div>
                <div class="form-label">
                    <input action="{{url_for('connecter')}}" type="submit" value="Se connecter" />

                </div>
                <div class="create-account">
                    <p>Nouveau ? <a href="{{url_for('inscription')}}" class="transition">Créer un compte</a></p>
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %}
