{% extends "base_slogan.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block main_content %}
    {% if a_termine %}
    <div>
        <form action="{{ url_for('update_note_comm') }}" method="POST">
            <div class="note">
                {% for i in range(1, 6) %}
                    {% if 6-i == note_comm_part[0][0] %}
                        <input class="darkmode-ignore" type="radio" id="star-{{ 6-i }}" name="star-radio" value="{{ 6-i }}" checked>
                    {% else %}
                        <input class="darkmode-ignore" type="radio" id="star-{{ 6-i }}" name="star-radio" value="{{ 6-i }}">
                    {% endif %}
                    <label class="darkmode-ignore" for="star-{{ 6-i }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"></path>
                        </svg>
                    </label>
                {% endfor %}
                <input type="hidden" name="id_parc" value="{{ id_parc }}">

              </div>
            <div class="commentaire">
                <label class="label-form" for="textarea">Avez-vous un retour à faire?</label>
                <textarea name="textarea" id="textarea" maxlength="490" rows="10" cols="50" required="">{{ note_comm_part[0][1] }}</textarea>
            </div>
              <button class="form-submit-btn" type="submit">Valider</button>
        </form>
    </div>
    {% endif %}
    <div class="background">
        <div class="titre-avis">
            <h3>Tous les Avis : </h3>
            <p>La moyenne est de : {{ moyenne_note }}/5</p>
            <p>{{ nb_note }} personnes ont donner leur avis</p>
        </div>
        {% if liste %}
            <form role="form" method="POST" class="form-champ" enctype="multipart/form-data">
                {% for avis in liste %}
                    <div class="trois-champs">
                        <div class="form-label-admin-pseudo-note">
                            <label for="name" class="label">{{ avis[1] }}</label>
                            <label for="name"> : </label>
                            <div class="form-group">
                                <div class="rating">
                                {% for i in range(1, 6) %}
                                    <input class="darkmode-ignore" type="radio" name="star-radio-disables" value="d{{ 6-i }}"  disabled>
                                    <label class="darkmode-ignore {% if i <= avis[2] %}yellow-star{% endif %}" for="tstar-{{ i }}" disabled>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" disabled>
                                            <path pathLength="360" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z1" disabled></path>
                                        </svg>
                                    </label>
                                {% endfor %}
                                  </div>
                              </div>
                            <label for="name" class="label">{{ avis[2] }}</label>
                        </div>
                        <div class="form-label-admin-comm">
                            <textarea readonly name="textarea" rows="7" cols="50" maxlength="500">{{ avis[3] }}</textarea>
                        </div>
                    </div>
                    <input type="hidden" name="idParcours" id="idParcours" value="{{ avis[0] }}">
                    <input type="hidden" name="pseudo" id="pseudo" value="{{ avis[1] }}">
                {% endfor %}
            </form>
        {% else %}
            <p class="pasavis">Aucun avis sur ce parcours.</p>
        {% endif %}
    </div>
{% endblock %}
