<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='parcours.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css">
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    </head>
    <body>
        <header>
            <div class="animated-image-position">
                <div class="image-container">
                  <img id="animation-button" class="img1" src="../static/images/logo.png" alt="Image à animer">
                </div>
            </div>
            <div class="top-page">
                <div></div>
                <h1 class="app-name">WADE</h1>
                <img id="user-logo" class="img3" src="../static/images/user.png" alt="Image à animer">
            </div>
            
        </header>
        <div id="map"></div>
        <div class="box-parcours">
            <section class="info-parcours">
                <div class="box-etape">
                    <p class="num-etape">1</p>
                </div>
                <img id="parcours-cover" src="https://lh3.googleusercontent.com/p/AF1QipMFivmjlrnBFO2ldlShNzXo2gAWtqarlWmBmsrR=s680-w680-h510">
                <h3 id="parcours-name">BUT Informatique</h3>
                <div class="p-content">
                    <p id="parcours-desc">
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. 
                        Donec mattis ex neque, in aliquet nunc 
                        feugiat vehicula. Ut non lacinia diam.
                        Fusce id purus laoreet, ultricies lectus at, 
                        aliquet nisi. Donec vehicula blandit 
                        Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. 
                        Donec mattis ex neque, in aliquet nunc 
                        feugiat vehicula. Ut non lacinia diam.
                        Fusce id purus laoreet, ultricies lectus at, 
                        aliquet nisi. Donec vehicula blandit
                    </p>
                    <div class="form-label">
                        <input type="submit" value="Commencer"/>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="image-container">
              <img id="animation-button1" class="img2" src="../static/images/logo.png" alt="Image à animer">
            </div>
            <p class="copyright">Wade Copyright © 2023</p>
        </footer>
        <script src="{{url_for('static', filename='script/map.js')}}"></script>
        <script src="../static/script/apparition_logo.js"></script>
        <script src="../static/script/script.js"></script>
        <script>
          var userLogo = document.getElementById("user-logo");
          userLogo.addEventListener("click", function() {
            window.location.href = "/login";
          });
        </script>
    </body>

</html>