<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/darkmode.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='parcours.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.css">
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    </head>
    <body data-liste-etapes='{{ lesetapes_json | tojson | safe }}'>
        <header>
            <div class="animated-image-position">
              <div class="image-container">
                <img id="animation-button" class="img1" src="../static/images/logo.png" alt="Image à animer">
              </div>
            </div>
              <div class="top-page">
                <div></div>
                <h1><a href="{{ url_for('redirection') }}" class="app-name">WADE</a></h1>
                <img id="burg-menu" class="img3" src="../static/images/menu.png" alt="Image à animer">
              </div>
          </header>
          <div id="menu" class="fixed-element">
            <p><a href="{{ url_for('mes_parcours_en_cours') }}" class="mes_parcours">Parcours suivis</a></p>
            <p><a href="{{ url_for('mon_profil') }}" class="page-profil">Mon profil</a></p>
            <p class="deco"><a href="{{ url_for('portails') }}">Se déconnecter</a></p>
        </div>
        <div id="map"></div>
        {% block content %}
        {% for (etape, img) in etape_actu %}
            <div class="box-parcours">

                <section class="info-parcours">
                    <div class="box-etape">
                        <p class="num-etape">{{ x }}</p>
                        <div id = "num_parcours" class="{{num_parcours}}"></div>
                        <div id = "id_etape" class="{{etape.get_id_etape()}}"></div>
                        <div id="coord_X_{{etape.get_id_etape()}}" class="{{etape.get_coordonneX()}}"></div>
                        <div id="coord_Y_{{etape.get_id_etape()}}" class="{{etape.get_coordonneY()}}"></div>
                    </div>
                    <img id="parcours-cover" src="{{ url_for('static', filename='images/' + img) }}">
                    <h3 id="parcours-name">{{etape.get_nom_etape()}}</h3>
                    
                    <div class="p-content">
                        <p id="parcours-desc">
                            X : {{etape.get_coordonneX()}}, Y : {{etape.get_coordonneY()}}
                        </p>
                        {% if (x == 0)%}
                        <form action="{{url_for('commencer')}}" method="get" class="button-format">
                            <div class="form-label">
                              <input type="submit" value="Commencer" />
                            </div>
                            <a></a>
                        </form>
                        {% endif %}
                        {% if (x == longueur) %}
                        <form action="{{url_for('avis')}}" method="get" class="button-format">
                            <div class="form-label">
                                <input type="submit" value="Terminer" />
                            </div>
                            <a></a>
                        </form>
                        {% endif %}
                    </div>
                    {% if (x < longueur and x > 0) %}
                    <form action="{{url_for('parcours', nb_etape = x + 1)}}" method="get" class="button-format">
                        <div class="parcours-button">
                          <input type="submit" value="PLUS" />
                        </div>
                        <a></a>
                    </form>
                    {% endif %}
                    {% if (x > 1 ) %}
                    <form action="{{url_for('parcours', nb_etape = x - 1)}}" method="get" class="button-format">
                        <div class="parcours-button">
                          <input type="submit" value="MOINS" />
                        </div>
                        <a></a>
                    </form>
                    {% endif %}
                    <p>
                        Interet : {{etape.get_interet()}}
                    </p>
                </section>
            </div>
            {% endfor %}
            {% endblock%}


    <footer class="fixed-element">
        <p class="copyright">Wade Copyright © 2023</p>
        <div class="image-container">
            <img id="animation-button1" class="img2" src="../static/images/logo.png" alt="Image à animer">
        </div>
        </footer>
        <script src="../static/script/apparition_logo.js"></script>
        <script src="../static/script/redirection-animation.js"></script>
        <script src="../static/script/menu_burger.js"></script>
        <script src="../static/script/toggle_profil.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
        <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
        </script>
        <script src="{{url_for('static', filename='script/map_client.js')}}"></script>
        <script src="../static/script/apparition_logo.js"></script>
        <script src="../static/script/redirection-animation.js"></script>
        <script>
          var userLogo = document.getElementById("user-logo");
          userLogo.addEventListener("click", function() {
            window.location.href = "/login";
          });
        </script>
    </body>

</html>